@include component-reboot;

:host {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  padding: 10px;
  overflow: scroll;
  color: #2f2f2f;
  background-color: #fff;
  border-radius: 8px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 800px;
  margin: 10px 0;
}